<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="tantivy">
            <!-- Sólo *Test.php: smoke.php y bootstrap.php quedan fuera por el sufijo por defecto. -->
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
